<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="cbc48f">  <td>17/11/10 13:42:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test2.testPolla()[pri:0, instance:prueba.Test2@2ff4f00f]">testPolla</td> 
  <td>main@403424356</td>   <td></td> </tr>
<tr bgcolor="a18c8f">  <td>17/11/10 13:43:50</td>   <td>89930</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.testWiki()[pri:0, instance:prueba.Test1@2752f6e2]">testWiki</td> 
  <td>main@403424356</td>   <td></td> </tr>
</table>
